@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
.repair-container__block_name, .repair-slider__title, .contact-title, .about-title, .services-block__title {
  font-weight: 600;
  font-size: 75px;
  color: #dec79b;
  text-transform: uppercase;
}

.contact-page, .about-container, .about-text, .home-container__text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #faf0dc;
  text-align: justify;
}

.contact-page__socials_link, .wrapper .sidebar-container__link {
  filter: grayscale(1);
  transition: all 0.5s;
}
.contact-page__socials_link:hover, .wrapper .sidebar-container__link:hover {
  filter: none;
  transition: all 0.3s;
}

.body {
  background-color: #18181e;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  position: fixed;
  width: 97.5%;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.header-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 5fr 0.5fr;
  justify-items: end;
  min-height: 80px;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.25);
  border: 1px solid #dec79b;
  border-radius: 3px;
}
.header-container__link {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.header-container__link .dropdown-content {
  display: none;
  position: absolute;
  background-color: #18181e;
  border: 1px solid #dec79b;
  min-width: 300px;
  z-index: 1;
}
.header-container__link .dropdown-content__item {
  color: #dec79b;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
.header-container__link .dropdown-content__item:hover {
  color: #faf0dc;
}
.header-container__link:hover .dropdown-content {
  display: block;
}
.header-container__link:hover {
  border-bottom: 2px solid #dec79b;
}
.header-container__link a {
  padding: 10px 15px;
  text-decoration: none;
  color: #dec79b;
}
.header-container__item {
  display: grid;
  grid-template-rows: 0.1fr 0.5fr;
}
.header-container__item_num {
  font-size: 10px;
  font-weight: 400;
  justify-self: end;
  align-self: end;
}
.header-container .active {
  color: #faf0dc;
}

.wrapper {
  min-width: 80px;
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
  height: 100%;
}
.wrapper .sidebar {
  display: grid;
  grid-template-rows: 1fr 8fr 0.5fr 0.75fr 0.75fr;
  grid-template-columns: 0.5fr 0.5fr;
  height: 895px;
  background-color: rgba(1, 1, 1, 0.25);
  border: 1px solid #dec79b;
  border-radius: 3px;
}
.wrapper .sidebar-block {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/3;
}
.wrapper .sidebar-block__circle {
  width: 50px;
  height: 50px;
  border: 4px solid #dec79b;
  border-radius: 50%;
  line-height: 10px;
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}
.wrapper .sidebar-block__circle:hover {
  transition: all 0.25s;
  border: 2px solid #dec79b;
  box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #C7938B;
}
.wrapper .sidebar-container {
  display: grid;
  grid-row: 4/6;
  justify-content: center;
}
.wrapper .sidebar-container__link {
  width: 50%;
  position: absolute;
}

.home {
  display: grid;
  grid-template-rows: 0.2fr 0.7fr 0.25fr 1fr 0.3fr 0.3fr 1fr;
  grid-template-columns: 0.2fr 1.25fr 1.75fr;
  min-height: 1180px;
}
.home-title {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  width: 75%;
  justify-self: center;
  color: #dec79b;
  font-size: 28px;
  font-weight: 400;
  border-bottom: 10px solid;
}
.home-container {
  display: grid;
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: center;
  width: 75%;
  grid-template-rows: 0.2fr 1fr;
}
.home-container__subtitle {
  display: grid;
  font-size: 40px;
  font-weight: 600;
  color: #faf0dc;
  border-top: 10px solid #faf0dc;
  width: 75%;
  align-self: end;
}
.home-img {
  display: grid;
  grid-column: 3/4;
  grid-row: 2/5;
  height: 70%;
  width: 95%;
  align-self: end;
  justify-self: start;
}
.home-staff {
  display: grid;
  grid-row: 6/7;
  grid-column: 2/4;
  color: #faf0dc;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}
.home-staff__block {
  display: grid;
  grid-template-rows: 1fr 0.2fr;
}
.home-staff__block_img {
  width: 50%;
}

.services {
  display: grid;
  grid-template-rows: 0.3fr 10fr;
  grid-template-columns: 0.2fr 1fr 1fr 0.5fr;
  min-height: 900px;
  grid-gap: 50px;
}
.services-block {
  display: grid;
  grid-row: 2/5;
  grid-column: 2/5;
  grid-row-gap: 50px;
}
.services-container {
  display: grid;
  position: relative;
}
.services-container__img {
  width: 60%;
  height: auto;
}
.services-container__link {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  color: #faf0dc;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 90px;
  width: 60%;
  position: absolute;
  align-self: end;
  justify-self: start;
}

.slider-container__img {
  width: 99%;
}

.about {
  display: grid;
  grid-template-columns: 0.17fr 0.7fr 1fr 0.25fr;
  grid-template-rows: 0.46fr 1fr 1fr 0.3fr;
  min-height: 900px;
  grid-gap: 50px;
}
.about-title {
  grid-row: 1/2;
  grid-column: 2/4;
  align-self: end;
}
.about-text {
  grid-row: 2/3;
  grid-column: 2/3;
}
.about-container {
  grid-row: 2/3;
  grid-column: 3/4;
  border: 2px solid #faf0dc;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
}
.about-container__title {
  grid-column: 2/3;
  text-transform: uppercase;
}
.about-container .block {
  grid-column: 2/3;
}
.about-container .block-name {
  font-weight: 600;
  font-size: 25px;
}
.about-container .block-name__content {
  display: grid;
  width: 85%;
  grid-template-columns: 0.07fr 1fr;
  grid-row-gap: 5px;
}
.about-container .block-name__content_num {
  font-weight: 400;
}
.about-quote {
  grid-row: 3/4;
  grid-column: 2/4;
}
.about-quote__block {
  color: #faf0dc;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  border-left: 10px solid rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  margin: 0 auto;
}
.about-quote__img {
  width: 50%;
  border-radius: 2px;
}
.about-quote__text {
  font-family: "Playfair Display", serif;
  font-size: 45px;
}
.about-quote__author {
  font-size: 25px;
  font-style: italic;
  opacity: 0.5;
}
.about-quote__author:before {
  content: "— ";
}

.contact {
  display: grid;
  grid-template-rows: 0.42fr 1fr 0.1fr;
  grid-template-columns: 0.2fr 1fr 0.5fr 0.1fr;
  min-height: 900px;
  grid-gap: 50px;
}
.contact-title {
  grid-column: 2/5;
  grid-row: 1/2;
  align-self: end;
}
.contact-map {
  grid-column: 2/3;
  grid-row: 2/3;
}
.contact-page {
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 0.5fr;
  grid-row-gap: 10px;
  max-height: 450px;
  border: 5px solid;
  border-image-slice: 1;
}
.contact-page {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.contact-page__subtitle {
  grid-column: 2/3;
  align-self: end;
  font-weight: 600;
  text-transform: uppercase;
}
.contact-page__block {
  grid-column: 2/3;
  display: grid;
}
.contact-page__block p {
  text-transform: uppercase;
  font-weight: 600;
}
.contact-page__block_item {
  align-self: center;
}
.contact-page__socials {
  grid-row: 3/4;
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
  width: 40%;
}
.contact-page__socials_link {
  width: 50%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  min-height: 100px;
}
.footer-container {
  grid-column: 2/3;
  grid-row: 2/4;
  background-color: rgba(1, 1, 1, 0.25);
  border: 1px solid #dec79b;
  border-radius: 3px;
  min-height: 25px;
  color: #faf0dc;
  font-weight: 300;
  font-size: 17px;
  width: 97%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 1fr 1fr;
}
.footer-container__rights {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
}
.footer-container__maritodd {
  grid-row: 1/3;
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
  opacity: 0.5;
  font-size: 20px;
  color: #5CA17C;
  background: -webkit-linear-gradient(0deg, #4cff00, #00fff6, #2a00ff, #9d00ff);
  text-decoration: none;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s;
}
.footer-container__maritodd:hover {
  opacity: 1;
  transition: all 0.4s;
}

.pin {
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 50%;
  border: 8px solid #ff0707;
  width: 8px;
  height: 8px;
}
.pin::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #ff1d1d;
}

.map {
  height: 450px;
  width: 100%;
  border: 5px solid #dec79b;
}

.repair {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.2fr;
  grid-template-rows: 0.1fr 0.2fr 0.5fr 0.1fr;
  min-height: 900px;
}
.repair-img {
  width: 98%;
}
.repair-slider {
  grid-column: 2/5;
  grid-row: 2/3;
  width: 95%;
}
.repair-container {
  grid-column: 2/5;
  grid-row: 3/4;
  width: 95%;
}
.repair-container__block_name {
  font-size: 35px;
}
.repair-container__block_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-24 17:31:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.tracking-in-contract {
  animation: tracking-in-contract 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.scale-up-ver-bottom {
  animation: scale-up-ver-bottom 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-ver-bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
.scale-up-hor-center {
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-hor-center {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }
}
.slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
